body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

/*.palette {*/
  /*justify-content: flex-start;*/
/*}*/

.box {
  width: 90px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border: 2px solid black;
  color: white;
}

.color0 {
  background-color: red;
}

.color1 {
  background-color: blue;
}

.color2 {
  background-color: green;
}

.color3 {
  background-color: white;
  color: black;
}

.color4 {
  background-color: yellow;
  color: black;
}

.color5 {
  background-color: purple;
}

.color6 {
  background-color: orange;
}

.color7 {
  background-color: black;
}

table {
  width: 500px;
  border: 5px solid black;
}

.guessRow{
  background-color: grey;
  border: 5px solid blue;
  height: 40px;
}

.peg:hover {
  background-color: gold;
  transform: scale(1.3);
}
